body {
  background-color: darkred;
  color: white;
  font-family: Courier;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
.about-me-header{
  text-align: center;
}
.blog-list {
  position: fixed;
  top: 0;
  right: 0%;
  width: 15%;
  height: 100%;
  font-size: 10px
}
h3 {
  text-align: center;
}
.info{
  margin-right: 30%;
  margin-left: 30%;
}
.code{
  color: black;
  background-color: white;
  list-style: none;
}
