body {
  background-color: darkred;
  color: white;
  font-family: Courier;
  margin: 0;
}
header {
  font-weight: bold;
  text-align: center;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
.nav-bar {
	text-align: center;
	padding: 5px 10px;
  margin: 30px;
}
.footer{
	text-align: center;
}
.name {
  text-align: center;
  font-size: 2em;
  height: 30%;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.blog-list{
  margin-left: 25%;
}
h3 {
  text-align: center;
}