body {
  background-color: darkred;
  color: white;
  font-family: Courier;
}
header {
  font-weight: bold;
  text-align: center;
}
.home-button{
  text-align: center;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.name {
  text-align: center;
  font-size: 2em;
  height: 30%;
}
.code {
  color: black;
  background-color: white;
  list-style: none;
}
.nav-bar {
  text-align: center;
  padding: 5px 10px;
  margin: 30px;
}
.footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
table {
  border-collapse: collapse;
  width: 70%;
  margin-left: 15%
}
table, th, td {
  border: 1px solid black;
}
tr:nth-child(even) {
  background: #CCC;
  color: black;
}
tr:nth-child(odd) {
  background: #FFF;
  color: black;
}